@import "tailwindcss";

@theme {
  --color-prj-1: #292F36;
  --color-prj-2: #8DA9C4;
  --color-prj-3: #0B1422;
  --color-prj-4: #0582CA;
  --color-prj-5: #00A6FB;
  --font-poppins: Poppins, sans-serif;
}