@import "tailwindcss";

@theme {
  --color-prj-1: #31302E;
  --color-prj-2: #E5E5E5;
  --color-prj-3: #FFFFFF;
  --color-prj-4: #b3b2b1;
  --color-prj-5: #394CE2;
  --font-poppins: Poppins, sans-serif;
}